<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>     
</head>
<body>
    <img src="" alt="" >
    <p>
        
    </p>
    <p>
        <b></b><br>
        <b></b><br>
        <b></b><br>
        <b></b><br>
    </p>

    <table class="table table-dark" id="invoice">
        <thead class="thead-dark">
            <tr>
                <th>CATEGORIA</th>
                <th>PRODUCTO</th>
                <th>CANT</th>
                <th>PRECIO UNITARIO</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SUBTOTAL</td>
                <td></td>
            </tr>
            <tr style="border-top: 1px solid black; padding:4px;">
                <td>IVA 18%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">TOTAL A PAGAR</td>
                <td style="text-align: right;"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
            </tr>
        </tfoot>
    </table>
    <table class="table" style="margin-top:250px;">
        <thead>
            <tr>
                <th>****GRACIAS POR SU COMPRA****</th>
            </tr>
            <tr>
                <th>NO SE ACEPTAN CAMBIOS NI DEVOLUCIONES</th>
            </tr>
        </thead>
    </table>
</body>
</html>