{% extends 'listBase.html' %}
{% load static %}

{% block column %}
  <tr>
    <th scope="col" class="border-0 bg-light" data-priority="1"> <!--data-priority="1" -->
      <div class="p-2 px-3 text-uppercase">{{titulo}}</div>
    </th>
    <th scope="col" class="border-0 bg-light">
      <div class="py-2 text-uppercase">Fecha de registro</div>
    </th>
    <th scope="col" class="border-0 bg-light">
      <div class="py-2 text-uppercase">subtotal</div>
    </th>
    <th scope="col" class="border-0 bg-light">
      <div class="py-2 text-uppercase">iva</div>
    </th>
    <th scope="col" class="border-0 bg-light">
      <div class="py-2 text-uppercase">total</div>
    </th>
    <th scope="col" class="border-0 bg-light" data-priority="2">
      <div class="py-2 text-uppercase" ></div> <!-- data-priority="2" -->
    </th>
  </tr>
{% endblock column %}

{% block row %}

{% endblock row %}


{% block extras %}

  <script src="{% static 'js/sale/list.js'%}"></script>


  <div id="modalDetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="my-modal-title">Consulta del detalle</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <table class="table" id="tableDetalle">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock extras %}