{% extends 'body.html' %}

{% block content %}
    <div class="mt-5" >
        <div class="row row-cols-2 justify-content-around align-items-center" style="height: 70vh;">
            <div>
                <a href="{{list_url_categoria}}"><i class="fa-solid fa-table-cells-large fa-2xl" style="font-size: 120px;"></i></a>
            </div>
            <div>
                <a href="{{list_url}}"><i class="fa-solid fa-boxes-stacked fa-2xl" style="font-size: 120px;"></i></a>
            </div>
        </div>
    </div>
{% endblock %}